.wrapper
  .header
    = render "header"

  .main
    .main__top
      会員情報変更
    .main__form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .edit-user
          .edit-user__icon
            -if current_user.image == "" or current_user.image == nil
              = image_tag "no_icon.png", class:"edit-icon", size:'100x100'
            -else
              = image_tag current_user.image, class:"edit-icon", size:'100x100'
          .edit-user__text
            アイコン
          .edit-user__form
            = f.text_field :image, class: "user_edit_image", placeholder: "画像URL"
        .group
          .group__text
            .group__text__main
              ニックネーム
          .group__form
            = f.text_field :nickname, class: "new_user_registration", placeholder: "例)フリマ太郎"
        .group
          .group__text
            .group__text__main
              メールアドレス
          .group__form
            = f.email_field :email, class: "new_user_registration", placeholder: "PC・携帯どちらでも可"
        .group
          .group__text
            .group__text__main
              パスワード
          .group__form
            = f.password_field :password, class: "new_user_registration", type:'password', placeholder:"7文字以上の半角英数字"
          .password_caution
            ※ 英字と数字の両方を含めて設定してください
        .group
          .group__text
            .group__text__main
              パスワード（確認用）
          .group__form
            = f.password_field :password_confirmation, class:"new_user_registration", type:'password', placeholder:"同じパスワードを入力"
        .group
          .group__text
            .group__text__main
              現在のパスワード
          .group__form
            = f.password_field :current_password, class:"new_user_registration", type:'password', placeholder:"現在のパスワードを入力"
        .registration
          .registration__btn
            =link_to "#", class:'btn' do
              = f.submit "更新する", class:'btn'

  .user_footer
    = render "footer"