.wrapper
  .header
    = render "header"

  .main
    .main__top
      会員情報変更
    .main__form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .edit-user
          .edit-user__icon
            = f.label :image, class:"label" do
              -if "#{current_user.image}" == "" or "#{current_user.image}" == nil
                = image_tag "no_icon.png", class:"icon", size:'120x120'
              -else
                = image_tag("#{current_user.image}", class:"icon", size:'120x120')
              %canvas#test_canvas.hidden{:height => "120", :width => "120"}
              = f.file_field :image, class: 'hidden',:onchange => "onFileSelected(this)"
            
        .group
          .group__text
            .group__text__main
              ニックネーム
          .group__form
            = f.text_field :nickname, class: "new_user_registration", placeholder: "例)フリマ太郎"
        .group
          .group__text
            .group__text__main
              メールアドレス
          .group__form
            = f.email_field :email, class: "new_user_registration", placeholder: "PC・携帯どちらでも可"
        .group
          .group__text
            .group__text__main
              パスワード
          .group__form
            = f.password_field :password, class: "new_user_registration", type:'password', placeholder:"7文字以上の半角英数字"
          .password_caution
            ※ 英字と数字の両方を含めて設定してください
        .group
          .group__text
            .group__text__main
              パスワード（確認用）
          .group__form
            = f.password_field :password_confirmation, class:"new_user_registration", type:'password', placeholder:"同じパスワードを入力"
        .group
          .group__text
            .group__text__main
              現在のパスワード
          .group__form
            = f.password_field :current_password, class:"new_user_registration", type:'password', placeholder:"現在のパスワードを入力"
        .registration
          .registration__btn
            = f.submit "更新する", class:'btn'

  .user_footer
    = render "footer"

:javascript
  function onFileSelected(input) {
      var file = input.files[0];
      var reader = new FileReader();
      reader.onload = onFileLoaded;
      reader.readAsDataURL(file);
  }
  
  function onFileLoaded(e) {
    $('.icon').addClass('hidden')
    $('#test_canvas.hidden').removeClass('hidden')
      var src_data = e.target.result;
      var img = new Image();
      img.onload = onImageSetted;
      img.src = src_data;
  }
  
  function onImageSetted(e) {
      var data = createImageData(e.target);
      document.getElementById('test_canvas').getContext('2d').putImageData(data, 0, 0);
  }
  
  function createImageData(img) {
    var cv = document.createElement('canvas');
    cv.width = img.naturalWidth;
    cv.height = img.naturalHeight;
    var ct = cv.getContext('2d');
    ct.drawImage(img, 0, 0, 120, 120);
    var data = ct.getImageData(0, 0, cv.width, cv.height);
    return data;
  }