= render "goods/header"
.main
  .mypage
    = render "mypage-side"

    .goods
      .goods__top
        取引中の商品
      %ul.goods__list
        -@goods.each do |good|
          -if good.trading_conditions == 1
            = link_to good_path(good.id), method: :get, class:"good_link" do
              %li.goods__list__box
                .goods__list__box--image
                  = image_tag good.good_images[0].image.url, size: "60x60"
                .goods__list__box--text
                  .goods__list__box--text__name
                    = good.name
                  .goods__list__box--text__sale
                    購入
            .goods__list__box__btn
              = form_for good do |f|
                = f.text_field :trading_conditions,value:3, class: :textArea
                = f.submit "受け取り", class: :change_condition
        .paginate            
          = paginate(@goods)

=render "goods/indfooter"