.wrapper
  .header
    = render "header"

  .main
    .main__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .group
          .group__form
            = f.email_field :email, class:'new_user_registration',placeholder:'メールアドレス',autofocus: true
        .group
          .group__form
            = f.password_field :password, class:'new_user_registration',placeholder:'パスワード', autocomplete: "off"
        .registration__btn
          = f.submit 'ログイン', class:'btn'

  .footer
    = render "footer"