.main-contents 
  .top-picture
    .top-picture__body
      %h.top-picture__body__subtitle
        %br
        人生を変えるフリマアプリ
      %p.top-picture__body__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .top-picture__body__btn
        .top-picture__body__btn__btn-a
          = link_to "#", class: "top-picture__body__btn__btn-a" do
            =image_tag "app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", size: "180x100"
        .top-picture__body__btn__btn-b
          .top-picture__body__btn__btn-b
            = link_to "#", class: "top-picture__body__btn__btn-b" do
              =image_tag "google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", size: "180x100"

  .mean
    %h.mean__subtitle
    %ul.mean__lists

      %li.mean__lists__list
        .mean__lists__list__pic
          %span.mean__lists__list__pic__number 1
          =image_tag "pict-reason-01.jpg", width: "100%"
        %h.mean__lists__list__text
          %span.list__text__span 3分
          ですぐに出品
        %p.mean__lists__list__description
          スマホで入力するだけで簡単に出品で
          きる！

      %li.mean__lists__list
        .mean__lists__list__pic
          %span.mean__lists__list__pic__number 2
          =image_tag "pict-reason-02.jpg", width: "100%"
        %h.mean__lists__list__text
          %span.list__text__span シンプル
          で使いやすい
        %p.mean__lists__list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.mean__lists__list
        .mean__lists__list__pic
          %span.mean__lists__list__pic__number 3
          =image_tag "pict-reason-03.jpg", width: "100%"
        %h.mean__lists__list__text
          手数料
          %span.list__text__span 業界最安
        %p.mean__lists__list__description
          最大3%でお得に出品&購入！

  .middle-picture
    .middle-picture__body
      %h.middle-picture__body__subtitle
        %br
        会員数日本一位
      %p.middle-picture__body__text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .middle-picture__body__btn
        .middle-picture__body__btn__btn-a
          = link_to "#", class: "middle-picture__body__btn__btn-a" do
            =image_tag "app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", size: "180x100"
        .middle-picture__body__btn__btn-b
          .top-picture__body__btn__btn-b
            = link_to "#", class: "middle-picture__body__btn__btn-b" do
              =image_tag "google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", size: "180x100"

  .feature
    %h.feature__subtitle
    .feature__lists

      .feature__lists__list
        .feature__lists__list__pic
          =image_tag "left-icon-01-7f6abf70ea7deaed9ab5d8b6d5cb796250e3e292b9ecdc559ebe6492c31fdab8.svg", width: "70%"
        %h.mean__lists__list__text
          簡単に売り買いできる
        %p.mean__lists__list__description
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

      .feature__lists__list
        .feature__lists__list__pic
          =image_tag "right-icon-04-c4052f85cd6e1f62ea8cac8c55277d7fa4bda971d924f8a2afe72eea6558fa85.svg", width: "70%"
        %h.mean__lists__list__text
          売上金は即日振込みに対応
        %p.mean__lists__list__description
          午前9時までに振込を依頼いた
          だければ、翌日に指定の口座に
          入金いたします!

      .feature__lists__list
        .feature__lists__list__pic
          =image_tag "center-icon-03-9c0d78266a316fec7b738dcf5c68dd987afb9655b13fd2cd5d30bcf09e827694.svg", width: "70%"
        %h.mean__lists__list__text
          様々な支払いに対応
        %p.mean__lists__list__description
          お支払いは、クレジットカード
          だけでなく、ポイントや売上金
          など多彩な方法があります。


  .pick-ups
    .pick-ups__box
      %h.pick-ups__box__title
        ピックアップカテゴリー
      .pick-ups__box__link-title
        = link_to "#", class: "pick-ups__box__link-title" do
          新規投稿商品
          .pick-ups__box__goods
            - @goods.each do |good|
              .pick-ups__box__goods__list
                = link_to good_path(good.id), class: "pick-ups__box__goods__list" do
                  %li.pick-ups__box__goods__list__pic
                    - good.good_images.each do |good_images| 
                      =image_tag("#{good_images.image}", size: "220x150")
                  .pick-ups__box__goods__list__body
                    %li.pick-ups__box__goods__list__body__name= good.name
                    %li.pick-ups__box__goods__list__body__price
                      = good.price 
                      %span.pick-ups__box__goods__list__body__price 円
                      %p.tax-included (税込)

    .pick-ups__box
      %h.pick-ups__box__title
        ピックアップカテゴリー
      .pick-ups__box__link-title
        = link_to "#", class: "pick-ups__box__link-title" do
          レディース新着アイテム
          .pick-ups__box__goods
            - @goods_mens_new.each do |good|
              - if good.buyer_id == nil
                .pick-ups__box__goods__list
                  = link_to good_path(good.id), class: "pick-ups__box__goods__list" do
                    %li.pick-ups__box__goods__list__pic
                      - good.good_images.each do |good_images| 
                        =image_tag good_images.image, size: "220x150"
                    .pick-ups__box__goods__list__body
                      %li.pick-ups__box__goods__list__body__name= good.name
                      %li.pick-ups__box__goods__list__body__price
                        = good.price
                        %span.pick-ups__box__goods__list__body__price 円
                        %p.tax-included (税込)
              - else

    .pick-ups__box
      %h.pick-ups__box__title
        ピックアップカテゴリー
      .pick-ups__box__link-title
        = link_to "#", class: "pick-ups__box__link-title" do
          メンズ新着アイテム
          .pick-ups__box__goods
            - @goods_women_new.each do |good| 
              - if good.buyer_id == nil 
                .pick-ups__box__goods__list
                  = link_to good_path(good.id), class: "pick-ups__box__goods__list" do
                    %li.pick-ups__box__goods__list__pic
                      - good.good_images.each do |good_images| 
                        =image_tag("#{good_images.image}",size: "220x150")
                    .pick-ups__box__goods__list__body
                      %li.pick-ups__box__goods__list__body__name= good.name
                      %li.pick-ups__box__goods__list__body__price
                        = good.price 
                        %span.pick-ups__box__goods__list__body__price 円
                        %p.tax-included (税込)
              - else


  .brand
    .brand__container
      %h.brand__container__title
        ピックアップブランド
      .brand__container__link-title
        = link_to "#", class: "brand__container__link-title" do
          アーカイバ
      .brand__container__category
        - @goods.zip(@good_images).each do |good, good_images|
          - if good.buyer_id == nil
            .brand__container__category__list
              = link_to good_path(good.id), class: "brand__container__category__list" do
                %li.pick-ups__box__goods__list__pic
                  - good.good_images.each do |good_images| 
                    =image_tag("#{good_images.image}", size: "220x150")
                .pick-ups__box__goods__list__body
                  %li.pick-ups__box__goods__list__body__name= good.name
                  %li.pick-ups__box__goods__list__body__price
                    = good.price 
                    %span.pick-ups__box__goods__list__body__price 円
                    %p.tax-included (税込)
          - else

  .bottom-picture
    .bottom-picture__body
      %h.bottom-picture__body__subtitle
        %br
        だれでもかんたん、人生を変えるフリマアプリ
      %p.bottom-picture__body__text
        今すぐ無料ダウンロード！
      .bottom-picture__body__btn
        = link_to "#", class: "bottom-picture__body__btn__btn-a" do
          =image_tag "app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", size: "180x100"
        .bottom-picture__body__btn__btn-b
          .bottom-picture__body__btn__btn-b
            = link_to "#", class: "bottom-picture__body__btn__btn-b" do
              =image_tag "google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", size: "180x100"
  
    .bottom-logo
      = link_to new_good_path, class: "bottom-logo" do
        %h.bottom-logo__text 出品する
        .bottom-logo__img
          =image_tag "camera-icon_camera-968c5ebaa05319bf1e2ad7508f852dd712504a4d26a1930d8bd87ec03ebcc37a.svg", width: "60%"
  
  = render "indfooter.html.haml"
