.goRootPage
  %h1.goRootPage__icon
    = link_to "/" do
      = image_tag "logo.png",size: '134x36',alt:"FURIMA"
.wrapperNew
  .setNewPage
    .setNewPage__imageZone
      .setNewPage__imageZone__main
        .subTitleRepeat
          出品画像
          .b
            必須
        .setNewPage__imageZone__main__max
          最大4枚までアップロードできます(現時点で一枚)
        .setNewPage__imageZone__main__form
    .setNewPage__detailZone
      .setNewPage__detailZone__main
        .subTitleRepeat
          商品名
          .b
            必須
        = form_with(model: @good, local: true, id:"goodName") do |form|
          = form.text_field :name, placeholder: :商品名, class: :textArea
        .subTitleRepeat
          商品の説明
          .b
            必須
        = form_with(model: @good, local: true, id:"goodName") do |form|
          = form.text_area :expanation, placeholder: :説明, class: :detailArea
    .setNewPage__conditionZone
      .setNewPage__conditionZone__main
        .f
          商品の詳細
        .subTitleRepeat
          カテゴリー
          .b
            必須
        .putIncategory
        .subTitleRepeat
          状態
          .b
            必須
        = form_with(model: @good, local: true, id:"goodName") do |form|
          = form.select :state, ["新品，未使用", "未使用に近い", "目立った傷や汚れがない", "やや傷や汚れがある", "傷や汚れあり", "全体的状態が悪い"],{include_blank:"選択してください"}, class: :goodSelect
        .subTitleRepeat
          サイズ
        .putInSize
    .setNewPage__deliveryZone
      .setNewPage__deliveryZone__main
        .f
          配送について
        .subTitleRepeat
          配送量の負担
          .b
            必須
        = form_with(model: @good, local: true, id:"goodName") do |form|
          = form.select :postage, ["送料込み(出品者負担)","着払い(購入者負担)"],{include_blank: "選択してください"}, class: :goodSelect
        .subTitleRepeat
          発送元の地域
          .b
            必須
        = form_with(model: @good, local: true, id:"goodName") do |form|
          = form.text_field :region, placeholder: :"例：東京", class: :textArea
        .subTitleRepeat
          配送に要する日数
          .b
            必須
        = form_with(model: @good, local: true, id:"goodName") do |form|
          = form.select :shipping_date, ["1~2日で発送","2~3日で発送","4~7日で発送"],{include_blank: "選択してください"}, class: :goodSelect 
    .setNewPage__priceZone
      .setNewPage__priceZone__main
        .f
          価格（¥300〜9,999,999）
        .subTitleRepeat
          販売価格
          .b
            必須
        .putInPrice
          .priceYen
            ¥
          .priceForm
            = form_with(model: @good, local: true, id:"goodName") do |form|
              = form.text_field :region, placeholder: :"　　　　　　　　　　　　0", class: :priceArea
    .setNewPage__submitZone
      .setNewPage__submitZone__main
        = form_with(model: @good, local: true, id: "new_comment") do |form| 
          = form.submit "出品する", class: :form__btn 
        .setNewPage__submitZone__main__returnBtn
          = link_to "戻る", root_path,class:"returnBtn"
        .setNewPage__submitZone__main__caution
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
.footer
  %ul.contents
    %li.content
      %h2.content__title
        FURIMAについて
      %ul
        %li
          = link_to "#" do
            %span  会社概要
        %li
          = link_to "#" do
            %span  プライバシーポリシー
        %li
          = link_to "#" do
            %span  FURIMA利用規約
        %li
          = link_to "#" do
            %span  ポイントに関する特約
    %li.content
      %h2.content__title
        FURIMAを見る
      %ul
        %li
          = link_to "#" do
            %span  カテゴリー一覧
        %li
          = link_to "#" do
            %span  ブランド一覧
    %li.content
      %h2.content__title
        ヘルプ＆ガイド
      %ul  
        %li
          = link_to "#" do
            %span  FURIMAガイド
        %li
          = link_to "#" do
            %span  FURIMAロゴ利用ガイドライン
        %li
          = link_to "#" do
            %span  お知らせ
  .footer__logo
    %span.image
      = image_tag "logo-white.png", size:'134x36'
      %p  ©︎フリマ