= render "header.html.haml"

.item-details
  .item-detail
    %ul.item-detail__breadcrumb
      %li.item-detail__breadcrumb__list
        = link_to "#" do
          %span フリマ >
      %li.item-detail__breadcrumb__list
        = link_to "#" do
          %span レディース >
      %li.item-detail__breadcrumb__list
        = link_to "#" do
          %span バッグ > 
      %li.item-detail__breadcrumb__list
        = link_to "#" do
          %span  ルイヴィトン ダミエ ネヴーフルMMトートバッグ
    .item-detail__content
      %h2.item-detail__content__name
        = @good_detail.name
      .item-detail__content__img
        %ul
          %li.item-detail__content__img__top
            = image_tag "/logo.png",size: '134x36',alt:"FURIMA"
            %ul
              %li
                = image_tag "/logo.png",size: '134x36',alt:"FURIMA"
              %li
                = image_tag "/logo.png",size: '134x36',alt:"FURIMA"
              %li
                = image_tag "/logo.png",size: '134x36',alt:"FURIMA"
      .item-detail__content__price
        ¥87000
      .item-detail__content__price__postsge
      (税込)送料込み
      .item-detail__content__buy
        = link_to "#" do
          %span 購入画面に進む
      .item-detail__content__introduction
        値下げお買い得⑅◡̈*
        2〜３年前にルイヴィトンで購入した正規品です。
        外観も中も綺麗な状態です。
        持ち手部分のくたりも無くしっかり立ちます‼︎
        私が使うには、少し大きめだったので
        使用回数が少なく、
        とても綺麗な状態で保管できてると思います。
        目立つ汚れ、スレ、ベタつきなどありません。
        自己検品なので、見落とし等あるかもしれませんが
        写真をたくさん出しておりますので、
        しっかり確認して購入されて下さい。
        ポーチ付属ありません。
        購入後の返品返金クレームは一切お受けしませんので
        承知の上でのご購入をお願い致します。
        すり替え防止のため返品、返金はお断りしています！
        シリアルナンバー GI 4153
        付属品はルイ・ヴィトン保管袋のみです。
        素材 ダミエ.エベヌ
        サイズ 31.0×28.5×17.0
        素人の測り方なので、多少の誤差はお許し下さい。
        自宅保管になります。
        気になる方やご神経質なお方はお控え下さい‼︎
        発送の際は折りたたんでの梱包となりますので
        こちらもご了承頂ける方でお願い致します。
      .table
        %table
          %tr
            %th
              出品者
            %td
              ジョナサン
          %tr
            %th
              カテゴリー
            %td
              レディースバッグ
          %tr
            %th
              ブランド
            %td
              ルイヴィトン
          %tr
            %th
              商品のサイズ
            %td
              m
          %tr
            %th
              商品の状態
            %td
              新品/未使用
          %tr
            %th
              配送料の負担
            %td
              着払い
          %tr
            %th
              発送元の地域
            %td
              沖縄
          %tr
            %th
              発送日の目安
            %td
              1-2日で発送
      .item-detail__content__reactions
        %ul
          %li.item-detail__content__reactions__fav
            %p
              お気に入り
        %ul
          %li.item-detail__content__reactions__report
            = link_to "#" do
              %span 不適切な商品の通報
  .coments
    .coment
      %input(type="text" class="coment__zone")/
      .coment__note
        %p
          相手のことを考え丁寧なコメントを心がけましょう。
        %p
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %input(type="submit" class="coment__btn" value="コメントする")
