= render "header.html.haml"

.item-details
  .item-detail
    %ul.item-detail__breadcrumb
      %li.item-detail__breadcrumb__list
        = link_to root_path do
          %span フリマ >
      %li.item-detail__breadcrumb__list
        = link_to "#" do
          %span レディース >
      %li.item-detail__breadcrumb__list
        = link_to "#" do
          %span バッグ > 
      %li.item-detail__breadcrumb__list
        = link_to "#" do
          %span  ルイヴィトン ダミエ ネヴーフルMMトートバッグ
    .item-detail__content
      %h2.item-detail__content__name
        = @good_detail.name
      .item-detail__content__img
        - @good_detail.good_images.each_with_index do |img,i|
          - if i == 0
            .item-detail__content__img__top
              = image_tag("#{img.image}",class:"",size:'450x450')
        .item-detail__content__img__bottom
          - @good_detail.good_images.each_with_index do |img,i|
            - if i != 0
              .item-detail__content__img__bottom__b
                = image_tag("#{img.image}",size:'100x100')
                
      .item-detail__content__price
        = @good_detail.price
      .item-detail__content__price__postsge
      (税込)送料込み

      - if @good_detail.buyer_id.present?
        .item-detail__content__sold-out
          SOLD OUT
      -else
        - if user_signed_in? && current_user.id == @good_detail.seller_id
          .item-detail__content__edit
            = link_to "#" do
              %span 商品を編集する
          .item-detail__content__destroy
            = link_to good_path(@good_detail), method: :delete, data: { confirm: '削除しますか？' } do
              %span 商品を削除する
        - else
          .item-detail__content__buy
            = link_to orders_path(@good_detail.id) do
              %span 購入画面に進む
              
      .item-detail__content__introduction
        = @good_detail.expanation
      .table
        %table
          %tr
            %th
              出品者
            %td
              = @good_user.nickname
          %tr
            %th
              カテゴリー
            %td
              = @category_parent.name
              %br
              >
              = @category_children.name
              %br
              >
              = @category_grand_children.name
          %tr
            %th
              ブランド
            %td
              ルイヴィトン
          %tr
            %th
              商品のサイズ
            %td
              = @good_size.name
          %tr
            %th
              商品の状態
            %td
              = @good_detail.state
          %tr
            %th
              配送料の負担
            %td
              = @good_detail.postage
          %tr
            %th
              発送元の地域
            %td
              = @good_detail.region
          %tr
            %th
              発送日の目安
            %td
              = @good_detail.shipping_date
      .item-detail__content__reactions
        %ul
          %li.item-detail__content__reactions__fav
            %p
              お気に入り
        %ul
          %li.item-detail__content__reactions__report
            = link_to "#" do
              %span 不適切な商品の通報
  .coments
    .coment
      %input(type="text" class="coment__zone")/
      .coment__note
        %p
          相手のことを考え丁寧なコメントを心がけましょう。
        %p
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %input(type="submit" class="coment__btn" value="コメントする")
