.goRootPage
  %h1.goRootPage__icon
    = link_to root_path do
      = image_tag "logo.png",size: "134x36",alt:"FURIMA"
.main-delete
  .delete
    .delete__top
      商品の編集が完了しました！
    .delete__btn
      = link_to user_path(current_user.id), method: :get do
        = submit_tag "マイページに戻る" ,class: "btn"
.goRootPage
  %h1.goRootPage__icon
.footer
  %ul.contents
    %li.content
      %h2.content__title
        FURIMAについて
      %ul
        %li
          = link_to "#" do
            %span  会社概要
        %li
          = link_to "#" do
            %span  プライバシーポリシー
        %li
          = link_to "#" do
            %span  FURIMA利用規約
        %li
          = link_to "#" do
            %span  ポイントに関する特約
    %li.content
      %h2.content__title
        FURIMAを見る
      %ul
        %li
          = link_to "#" do
            %span  カテゴリー一覧
        %li
          = link_to "#" do
            %span  ブランド一覧
    %li.content
      %h2.content__title
        ヘルプ＆ガイド
      %ul
        %li
          = link_to "#" do
            %span  FURIMAガイド
        %li
          = link_to "#" do
            %span  FURIMAロゴ利用ガイドライン
        %li
          = link_to "#" do
            %span  お知らせ
  .footer__logo
    %span.image
      = image_tag "logo-white.png", size:"134x36"
      %p  ©︎フリマ